{% extends 'menu.html' %}
{% block title %}Settings{% endblock %}
{% block css %}{{ url_for('static', filename='css/settings.css') }}{% endblock %}
{% block content %}

{% if conf is none %}
<div class="row">
  <div class="large-12 columns">
    <fieldset>
       <legend>Settings</legend>

       <form action="{{ url_for('settings') }}" method="post">

	 <div class="row">
	   <div class="large-12 columns">
	     <label>Livutils SVN url :
	       <input type="text" name="javaUtilsUrl" id="javaUtilsUrl" placeholder="ex. svn://jira.searh.acnhcms.net/searh/branches/ARC_OUTILS" required />
	     </label>
	   </div>
	 </div>

	 <div class="row">
	   <div class="large-6 columns">
	     <label>SVN username :
	       <input type="text" name="svnUser" id="svnUser" placeholder="ex. kikou" required />
	     </label>
	   </div>
	   <div class="large-6 columns">
	     <label>SVN password :
	       <input type="password" name="svnPasswd" id="svnPasswd" placeholder="ex. XXXXXXX" required />
	     </label>
	   </div>
	 </div>

	 <div class="row">
	   <div class="large-6 columns">
	     <label>Hop username :
	       <input type="text" name="hopUser" id="hopUser" placeholder="ex. kikou2" required />
	     </label>
	   </div>
	   <div class="large-6 columns">
	     <label>Hop password :
	       <input type="password" name="hopPasswd" id="hopPasswd" placeholder="ex. XXXXXXX" required />
	     </label>
	   </div>
	 </div>

	 <div class="row">
	   <div class="large-3 large-offset-9 columns">
	     <input type="submit" value="Add settings" class="button">
	   </div>
	 </div>

       </form>
    </fieldset>
  </div>
</div>
{% else %}
<div class="row">
  <div class="large-12 columns">
    <fieldset>
      <legend>Settings</legend>

      <form action="{{ url_for('settings') }}" method="post">

	<div class="row">
	  <div class="large-12 columns">
	    <label>Livutils SVN url :
	      <input type="text" name="javaUtilsUrl" id="javaUtilsUrl" value="{{ conf.javaUtilsUrl }}" required />
	    </label>
	  </div>
	</div>

	<div class="row">
	  <div class="large-6 columns">
	    <label>SVN username :
	      <input type="text" name="svnUser" id="svnUser" value="{{ conf.svnUser }}" required />
	    </label>
	  </div>
	  <div class="large-6 columns">
	    <label>SVN password :
	      <input type="password" name="svnPasswd" id="svnPasswd" placeholder="ex. XXXXXXX" required />
	    </label>
	  </div>
	</div>

	<div class="row">
	  <div class="large-6 columns">
	    <label>Hop username :
	      <input type="text" name="hopUser" id="hopUser" value="{{ conf.hopUser }}" required />
	    </label>
	  </div>
	  <div class="large-6 columns">
	    <label>Hop password :
	      <input type="password" name="hopPasswd" id="hopPasswd" placeholder="ex. XXXXXXX" required />
	    </label>
	  </div>
	</div>

	<div class="row">
	  <div class="large-3 large-offset-9 columns">
	    <input type="submit" value="Update settings" class="button">
	  </div>
	</div>

      </form>
    </fieldset>
  </div>
</div>
{% endif %}

{% endblock %}
