{% extends 'menu.html' %}
{% block title %}Feeds Management{% endblock %}
{% block css %}{{ url_for('static', filename='css/feeds.css') }}{% endblock %}
{% block content %}

{% if mode == 'MODIFY' %}
<form action="{{ url_for('manage_feeds', mode='MODIFY') }}" method="post">
    {{ modify_form.hidden_tag() }}
    <div class="row">
        <div class="large-12 columns">
            <fieldset>
                <legend>Modify feed</legend>

                <div class="row">
                    <div class="large-12 columns">
                        {{ modify_form.name.label }}
                        {{ modify_form.name }}
                    </div>
                </div>

                <div class="row">
                    <div class="large-12 columns">
                        {{ modify_form.regex.label }}
                        {{ modify_form.regex }}
                    </div>
                </div>

                <div class="row">
                    <div class="large-12 columns">
                        {{ modify_form.strike_url.label }}
                        {{ modify_form.strike_url }}
                    </div>
                </div>

                <div class="row">
                    <div class="large-12 columns">
                        {{ modify_form.kickass_url.label }}
                        {{ modify_form.kickass_url }}
                    </div>
                </div>

                <div class="row">

                    <div class="large-4 columns">
                        {{ modify_form.is_active }}{{ modify_form.is_active.label }}
                    </div>

                    <div class="large-4 columns">
                        {{ modify_form.has_episodes }}{{ modify_form.has_episodes.label }}
                    </div>

                    <div class="large-4 columns">
                        {{ modify_form.has_seasons }}{{ modify_form.has_seasons.label }}
                    </div>

                </div>

                <div class="row">
                    <div class="large-3 large-offset-9 columns">
                        <input type="submit" value="Submit" class="button">
                    </div>
                </div>

            </fieldset>
        </div>
    </div>
</form>
{% endif %}

{% if mode == 'ADD' %}
<form action="{{ url_for('manage_feeds', mode='ADD') }}" method="post">
    {{ add_form.hidden_tag() }}
    <div class="row">
        <div class="large-12 columns">
            <fieldset>
                <legend>Add feed</legend>

                <div class="row">
                    <div class="large-12 columns">
                        {{ add_form.name.label }}
                        {{ add_form.name(autofocus=true, required=true) }}
                    </div>
                </div>

                <div class="row">
                    <div class="large-12 columns">
                        {{ add_form.regex.label }}
                        {{ add_form.regex(autofocus=true, required=true) }}
                    </div>
                </div>

                <div class="row">
                    <div class="large-12 columns">
                        {{ add_form.strike_url.label }}
                        {{ add_form.strike_url(autofocus=true, required=true) }}
                    </div>
                </div>

                <div class="row">
                    <div class="large-12 columns">
                        {{ add_form.kickass_url.label }}
                        {{ add_form.kickass_url(autofocus=true, required=true) }}
                    </div>
                </div>

                <div class="row">

                    <div class="large-4 columns">
                        {{ add_form.is_active }}{{ add_form.is_active.label }}
                    </div>

                    <div class="large-4 columns">
                        {{ add_form.has_episodes }}{{ add_form.has_episodes.label }}
                    </div>

                    <div class="large-4 columns">
                        {{ add_form.has_seasons }}{{ add_form.has_seasons.label }}
                    </div>

                </div>

                <div class="row">
                    <div class="large-3 large-offset-9 columns">
                        <input type="submit" value="Submit" class="button">
                    </div>
                </div>

            </fieldset>
        </div>
    </div>
</form>
{% endif %}

{% endblock %}
