{% extends 'menu.html' %}
{% block title %}Mail Servers Management{% endblock %}
{% block css %}{{ url_for('static', filename='css/mail_server.css') }}{% endblock %}
{% block content %}

{% if mode == 'ADD' %}
<form action="{{ url_for('manage_mail_servers', mode='ADD') }}" method="post">
    {{ add_form.hidden_tag() }}

    <div class="row">
        <div class="large-12 columns">
            <fieldset>
                <legend>Add mail server</legend>

                <div class="row">
                    <div class="large-8 columns">
                        {{ add_form.server.label }}
                        {{ add_form.server(autofocus=true, required=true) }}
                    </div>
                    <div class="large-4 columns">
                        {{ add_form.port.label }}
                        {{ add_form.port }}
                    </div>
                </div>

                <div class="row">
                    <div class="large-6 columns">
                        {{ add_form.username.label }}
                        {{ add_form.username(autofocus=true, required=true) }}
                    </div>
                    <div class="large-6 columns">
                        {{ add_form.password.label }}
                        {{ add_form.password(autofocus=true, required=true) }}
                    </div>
                </div>

                <div class="row">
                    <div class="large-12 columns">
                        {{ add_form.sender.label }}
                        {{ add_form.sender(autofocus=true, required=true) }}
                    </div>
                </div>

                <div class="row">
                    <div class="large-3 large-offset-9 columns">
                        <input type="submit" value="Submit" class="button">
                    </div>
                </div>

            </fieldset>
        </div>
    </div>
</form>
{% endif %}

{% if mode == 'REMOVE' %}
<form action="{{ url_for('manage_mail_servers', mode='REMOVE') }}" method="post">
    {{ remove_form.hidden_tag() }}

    <div class="row">
        <div class="large-12 columns">
            <fieldset>
                <legend>Remove mail server</legend>

                <div class="row">
                    <div class="large-12 columns">
                        {{ remove_form.mail_server.label }}
                        {{ remove_form.mail_server }}
                    </div>
                </div>

                <div class="row">
                    <div class="large-12 columns">
                        <input type="submit" value="Submit" class="button expand">
                    </div>
                </div>

            </fieldset>
        </div>
    </div>
</form>
{% endif %}

{% endblock %}
