{% extends 'menu.html' %}
{% block title %}Admin{% endblock %}
{% block css %}{{ url_for('static', filename='css/admin.css') }}{% endblock %}
{% block content %}

<div class="row">
  <div class="large-12 columns">
    <table>
      <caption>Users</caption>
      <tr>
	<td><a href={{ url_for('manage_users', mode='ADD')}}>Add</a></td>
	<td><a href={{ url_for('manage_users', mode='MODIFY')}}>Modify</a></td>
	<td><a href={{ url_for('manage_users', mode='REMOVE')}}>Remove</a></td>
      </tr>
    </table>
  </div>
</div>

{% endblock %}
