{% extends 'menu.html' %}
{% block title %}Data Scope{% endblock %}
{% block css %}{{ url_for('static', filename='css/data.css') }}{% endblock %}
{% block content %}

<div class="row">
    <div class="large-12 columns">
        <table align="center" style="margin-top:50px;">
            <tr>
                <td><strong>Feeds</strong></td>
                <td><a href={{ url_for('manage_feeds', mode='ADD')}}>Add</a></td>
                <td><a href={{ url_for('manage_feeds', mode='MODIFY')}}>Modify</a></td>
                <td><a href={{ url_for('manage_feeds', mode='REMOVE')}}>Remove</a></td>
            </tr>
            <tr>
                <td><strong>Rules</strong></td>
                <td><a href={{ url_for('manage_rules', mode='ADD')}}>Add</a></td>
                <td><a href={{ url_for('manage_rules', mode='MODIFY')}}>Modify</a></td>
                <td><a href={{ url_for('manage_rules', mode='REMOVE')}}>Remove</a></td>
            </tr>

        </table>
    </div>
</div>

{% endblock %}
