{% extends 'menu.html' %}
{% block title %}Home{% endblock %}
{% block css %}{{ url_for('static', filename='css/index.css') }}{% endblock %}
{% block content %}

<div class="row">
    <div class="large-12 columns">
        <table id="list-torrents" align="center" style="margin-top:50px;">

            <script type=text/javascript>
            function get_temps() {
                $.getJSON("{{ url_for('get_torrents', hst=config['TR_HOST'], prt=config['TR_PORT']) }}", function (data) {
                    var items = "<tr><td><strong>Name</strong></td><td><strong>Status</strong></td><td><strong>Progress</strong></td></tr>";
                    $.each(data.torrents, function(key, val) {
                        trstyle = "";
                        if (val.status == "seeding") {
                            trstyle="style=\"background-color:#859900; color:#073642\""
                        } else if (val.progress < 100.0 && val.progress > 50.0) {
                            trstyle="style=\"background-color:#d33682; color:#073642\""
                        } else if (val.progress < 50.0) {
                            trstyle="style=\"background-color:#dc322f; color:#073642\""
                        } else {
                            trstyle = ""
                        }
                        items = items + "<tr "+trstyle+"><td>" + val.name + "</td><td>" + val.status + "</td><td>" + val.progress + "</td></tr>";
                    });
                    $("#list-torrents").html(items);
                });
            }
            get_temps();
            setInterval('get_temps()', 5000);
            </script>

        </table>
    </div>

{% endblock %}
