{% extends 'menu.html' %}
{% block title %}Users Management{% endblock %}
{% block css %}{{ url_for('static', filename='css/users.css') }}{% endblock %}
{% block content %}

{% if mode == 'MODIFY' %}
<form action="{{ url_for('manage_users', mode='MODIFY') }}" method="post">
    {{ modify_form.hidden_tag() }}
    <div class="row">
        <div class="large-12 columns">
            <fieldset>
                <legend>Modify User</legend>

                <div class="row">
                    <div class="large-12 columns">
                        {{ modify_form.pseudo.label }}
                        {{ modify_form.pseudo }}
                    </div>
                </div>

                <div class="row">
                    <div class="large-12 columns">
                        {{ modify_form.password.label }}
                        {{ modify_form.password }}
                    </div>
                </div>

                <div class="row">
                    <div class="large-12 columns">
                        {{ modify_form.is_admin }}{{ modify_form.is_admin.label }}
                    </div>
                </div>

                <div class="row">
                    <div class="large-3 large-offset-9 columns">
                        <input type="submit" value="Update User" class="button">
                    </div>
                </div>

            </fieldset>
        </div>
    </div>
</form>
{% endif %}

{% if mode == 'ADD' %}
<form action="{{ url_for('manage_users', mode='ADD') }}" method="post">
    {{ add_form.hidden_tag() }}
    <div class="row">
        <div class="large-12 columns">
            <fieldset>
                <legend>Add User</legend>

                <div class="row">
                    <div class="large-12 columns">
                        {{ add_form.pseudo.label }}
                        {{ add_form.pseudo(autofocus=true, required=true) }}
                 </div>
                </div>

                <div class="row">
                    <div class="large-12 columns">
                        {{ add_form.password.label }}
                        {{ add_form.password(autofocus=true, required=true) }}
                   </div>
                </div>

                <div class="row">
                    <div class="large-12 columns">
                        {{ add_form.is_admin }}{{ add_form.is_admin.label }}
                  </div>
                </div>

                <div class="row">
                    <div class="large-3 large-offset-9 columns">
                        <input type="submit" value="Add User" class="button">
                    </div>
                </div>

            </fieldset>
        </div>
    </div>
</form>
{% endif %}

{% if mode == 'REMOVE' %}
<form action="{{ url_for('manage_users', mode='REMOVE') }}" method="post">
    {{ remove_form.hidden_tag() }}
    <div class="row">
        <div class="large-12 columns">
            <fieldset>
                <legend>Remove User</legend>

                <div class="row">
                    <div class="large-12 columns">
                        {{ remove_form.pseudo.label }}
                        {{ remove_form.pseudo }}
                    </div>
                </div>

                <div class="row">
                    <div class="large-12 columns">
                        <input type="submit" value="Remove User" class="button expand">
                    </div>
                </div>

            </fieldset>
        </div>
    </div>
</form>
{% endif %}

{% endblock %}
