{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block css %}{{ url_for('static', filename='css/index.css') }}{% endblock %}
{% block content %}

<nav class="top-bar" data-topbar role="navigation">
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <!-- Left Nav Section -->
    <ul class="left">
      <li>
	<a href={{ url_for('index') }}>{{ config['APP_NAME']  }}
	</a>
      </li>
      <li>
	<a href="#" data-reveal-id="add_sink" class="button">Add a sink
	</a>
      </li>
    </ul>
  </section>
</nav>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
{% if category == "info" %}
<div style="margin-top:1px; margin-bottom:1px; padding-top:1px; padding-bottom:1px;" class="alert-box info rounded">{{ message }}<a href="#" class="close">&times;</a></div>
{% endif %}
{% if category == "success" %}
<div style="margin-top:1px; margin-bottom:1px; padding-top:1px; padding-bottom:1px;" class="alert-box success rounded">{{ message }}<a href="#" class="close">&times;</a></div>
{% endif %}
{% if category == "error" %}
<div style="margin-top:1px; margin-bottom:1px; padding-top:1px; padding-bottom:1px;" class="alert-box error rounded">{{ message }}<a href="#" class="close">&times;</a></div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}

<ul class="tabs" data-tab>
  <li class="tab-title active"><a href="#panel1">Flux</a></li>
</ul>

<div id="add_sink" class="reveal-modal" data-reveal aria-labelledby="Add a sink" aria-hidden="true" role="dialog">
  <form action="{{ url_for('index') }}" method="post">

    <div class="row">
      <div class="large-12 columns">
	<label>Pseudonym
	</label>
	<input type="text" name="pseudo" required>
      </div>
    </div>

    <div class="row">
      <div class="large-6 columns">
	<label>Name
	</label>
	<input type="text" name="name">
      </div>
      <div class="large-6 columns">
	<label>Lastname
	</label>
	<input type="text" name="lastname">
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
	<label>Email
	</label>
	<input type="email" name="email" required>
      </div>
    </div>

    <div class="row">
      <div class="large-6 columns">
	<label>Password
	</label>
	<input type="password" name="passw1" required>
      </div>
      <div class="large-6 columns">
	<label>Confirm password
	</label>
	<input type="password" name="passw2" required>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
	<input type="submit" value="Register" class="button">
      </div>
    </div>

  </form>

  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div class="tabs-content">
  <div class="content active" id="panel1">
    <table>
      <caption>RSS flux</caption>
      <thead>
	<tr>
	  <th>Name</th>
	  <th>Flux</th>
	  <th>Actions</th>
	</tr>
      </thead>
      <tbody>
	{% for feed in feeds %}
	<tr>
	  <td>{{ feed.title }}</td>
	  <td>{{ feed.regex }}</td>
	  <td>Actions</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}

