{% extends 'menu.html' %}
{% block title %}Mail domain management{% endblock %}
{% block css %}{{ url_for('static', filename='css/mail_spool.css') }}{% endblock %}
{% block content %}

{% if mode == 'MODIFY' %}
<form action="{{ url_for('manage_mail_spool', mode='MODIFY') }}" method="post">
  <div class="row">
    <div class="large-12 columns">
      <fieldset>
	<legend>Modify domain</legend>

	<div class="row">
	  <div class="large-12 columns">
	    <label for="mail_spool">Domain to be modified :
	      <select name="mail_spool" id="mail_spool">
		{% for spool in spools %}
		<option value={{ spool.nudoss }}>{{ spool.mail_server }} - {{ spool.mail_username }}</option>
		{% endfor %}
	      </select>
	  </div>
	</div>

	<div class="row">
	  <div class="large-8 columns">
	    <label for="mail_server">Domain : </label>
	    <input type="text" name="mail_server" id="mail_server" placeholder="ex. smtp.gmail.com" required />
	  </div>
	  <div class="large-4 columns">
	    <label for="mail_port">Port : </label>
	    <input type="text" name="mail_port" id="mail_port" value="587" />
	  </div>
	</div>

	<div class="row">
	  <div class="large-6 columns">
	    <label for="mail_username">Username : </label>
	    <input type="text" name="mail_username" id="mail_username" placeholder="ex. lol.geek@gmail.com" required />
	  </div>
	  <div class="large-6 columns">
	    <label for="mail_password">Password : </label>
	    <input type="password" name="mail_password" id="mail_password" required/>
	  </div>
	</div>


	<div class="row">
	  <div class="large-12 columns">
	      <label for="full_sender">Alias :</label>
	      <input type="text" name="full_sender" id="full_sender" required />
	  </div>
	</div>

	<div class="row">
	  <div class="large-3 large-offset-9 columns">
	    <input type="submit" value="Update domain" class="button">
	  </div>
	</div>

      </fieldset>
    </div>
  </div>
</form>
{% endif %}

{% if mode == 'ADD' %}
<form action="{{ url_for('manage_mail_spool', mode='ADD') }}" method="post">
  <div class="row">
    <div class="large-12 columns">
      <fieldset>
	<legend>Add domain</legend>

	<div class="row">
	  <div class="large-8 columns">
	    <label for="mail_server">Domain : </label>
	    <input type="text" name="mail_server" id="mail_server" placeholder="ex. smtp.gmail.com" required />
	  </div>
	  <div class="large-4 columns">
	    <label for="mail_port">Port : </label>
	    <input type="text" name="mail_port" id="mail_port" value="587" />
	  </div>
	</div>

	<div class="row">
	  <div class="large-6 columns">
	    <label for="mail_username">Username : </label>
	    <input type="text" name="mail_username" id="mail_username" placeholder="ex. lol.geek@gmail.com" required />
	  </div>
	  <div class="large-6 columns">
	    <label for="mail_password">Password : </label>
	    <input type="password" name="mail_password" id="mail_password" required/>
	  </div>
	</div>


	<div class="row">
	  <div class="large-12 columns">
	      <label for="full_sender">Alias :</label>
	      <input type="text" name="full_sender" id="full_sender" required />
	  </div>
	</div>

	<div class="row">
	  <div class="large-3 large-offset-9 columns">
	    <input type="submit" value="Add domain" class="button">
	  </div>
	</div>

      </fieldset>
    </div>
  </div>
</form>
{% endif %}

{% if mode == 'REMOVE' %}
<form action="{{ url_for('manage_mail_spool', mode='REMOVE') }}" method="post">
  <div class="row">
    <div class="large-12 columns">
      <fieldset>
	<legend>Remove domain</legend>

	<div class="row">
	  <div class="large-12 columns">
	    <label for="mail_spool">Domain to be removed :</label>
	      <select name="mail_spool" id="mail_spool">
		{% for spool in spools %}
		<option value={{ spool.nudoss }}>{{ spool.mail_server }} - {{ spool.mail_username }}</option>
		{% endfor %}
	      </select>
	  </div>
	</div>

	<div class="row">
	  <div class="large-12 columns">
	    <input type="submit" value="Remove domain" class="button expand">
	  </div>
	</div>

      </fieldset>
    </div>
  </div>
</form>
{% endif %}

{% endblock %}
