{% extends 'menu.html' %}
{% block title %}Users Management{% endblock %}
{% block css %}{{ url_for('static', filename='css/users.css') }}{% endblock %}
{% block content %}

{% if mode == 'MODIFY' %}
<form action="{{ url_for('manage_users', mode='MODIFY') }}" method="post">
  <div class="row">
    <div class="large-12 columns">
      <fieldset>
	<legend>Modify User</legend>

	<div class="row">
	  <div class="large-12 columns">
	    <label for="pseudo">User to be modified :
	      <select name="pseudo" id="pseudo">
		{% for usr in users %}
		<option value={{ usr.nudoss }}>{{ usr.pseudo }}</option>
		{% endfor %}
	      </select>
	  </div>
	</div>

	<div class="row">
	  <div class="large-12 columns">
	      <label for="password">User's new password :</label>
	      <input type="password" name="password" id="password" placeholder="XXXXX" required />
	  </div>
	</div>

	<div class="row">
	  <div class="large-12 columns">
	    <input type="checkbox" name="is_admin" id="is_admin">
	    <label for="is_admin">Admin user
	    </label>
	  </div>
	</div>

	<div class="row">
	  <div class="large-3 large-offset-9 columns">
	    <input type="submit" value="Update User" class="button">
	  </div>
	</div>

      </fieldset>
    </div>
  </div>
</form>
{% endif %}

{% if mode == 'ADD' %}
<form action="{{ url_for('manage_users', mode='ADD') }}" method="post">
  <div class="row">
    <div class="large-12 columns">
      <fieldset>
	<legend>Add User</legend>

	<div class="row">
	  <div class="large-12 columns">
	    <label for="pseudo">User's pseudo/username :</label>
	    <input type="text" name="pseudo" id="pseudo" placeholder="myUsername" required />
	  </div>
	</div>

	<div class="row">
	  <div class="large-12 columns">
	      <label for="password">User's password :</label>
	      <input type="password" name="password" id="password" placeholder="XXXXX" required />
	  </div>
	</div>

	<div class="row">
	  <div class="large-12 columns">
	    <input type="checkbox" name="is_admin" id="is_admin">
	    <label for="is_admin">Admin user
	    </label>
	  </div>
	</div>

	<div class="row">
	  <div class="large-3 large-offset-9 columns">
	    <input type="submit" value="Add User" class="button">
	  </div>
	</div>

      </fieldset>
    </div>
  </div>
</form>
{% endif %}

{% if mode == 'REMOVE' %}
<form action="{{ url_for('manage_users', mode='REMOVE') }}" method="post">
  <div class="row">
    <div class="large-12 columns">
      <fieldset>
	<legend>Remove User</legend>

	<div class="row">
	  <div class="large-12 columns">
	    <label for="pseudo">User to be removed :</label>
	      <select name="pseudo" id="pseudo">
		{% for usr in users %}
		<option value={{ usr.nudoss }}>{{ usr.pseudo }}</option>
		{% endfor %}
	      </select>
	  </div>
	</div>

	<div class="row">
	  <div class="large-12 columns">
	    <input type="submit" value="Remove User" class="button expand">
	  </div>
	</div>

      </fieldset>
    </div>
  </div>
</form>
{% endif %}

{% endblock %}
