{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block css %}{{ url_for('static', filename='css/login.css') }}{% endblock %}
{% block content %}

<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="{{ url_for('index') }}">{{ config['APP_NAME'] }}</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><a href="#" data-reveal-id="loginMod">Login</a></li>
    </ul>
    <!-- Left Nav Section -->
    <ul class="left">
    </ul>
  </section>
</nav>

<div id="loginMod" class="reveal-modal tiny" data-reveal aria-hidden="true" role="dialog">

    <div class="center row">
        <div class="row">
            <div class="large-12 columns">
                <form action="{{ url_for('login') }}" method="post">
                    <fieldset>
                        <legend>Login</legend>
                        {{ login_form.hidden_tag() }}
                        <div class="row collapse">
                            <div class="small-2 columns">
                                <span class="prefix"><i class="fi-torso"></i></span>
                            </div>
                            <div class="small-10  columns">
                                {{ login_form.pseudo }}
                            </div>
                        </div>
                        <div class="row collapse">
                            <div class="small-2 columns ">
                                <span class="prefix"><i class="fi-lock"></i></span>
                            </div>
                            <div class="small-10 columns ">
                                {{ login_form.password }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-12 columns">
                                <input type="submit" value="Submit" class="button expand">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
{% if category == "info" %}
<div style="margin-top:1px; margin-bottom:1px; padding-top:1px; padding-bottom:1px;" class="alert-box info rounded">{{ message }}<a href="#" class="close">&times;</a></div>
{% endif %}
{% if category == "success" %}
<div style="margin-top:1px; margin-bottom:1px; padding-top:1px; padding-bottom:1px;" class="alert-box success rounded">{{ message }}<a href="#" class="close">&times;</a></div>
{% endif %}
{% if category == "error" %}
<div style="margin-top:1px; margin-bottom:1px; padding-top:1px; padding-bottom:1px;" class="alert-box error rounded">{{ message }}<a href="#" class="close">&times;</a></div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}

{% endblock %}
