{% extends 'menu.html' %}
{% block title %}Admin{% endblock %}
{% block css %}{{ url_for('static', filename='css/admin.css') }}{% endblock %}
{% block content %}

<div class="row">
    <div class="large-12 columns">
        <table>
            <tr>
                <td><strong>Users</strong></td>
                <td><a href={{ url_for('manage_users', mode='ADD')}}>Add</a></td>
                <td><a href={{ url_for('manage_users', mode='MODIFY')}}>Modify</a></td>
                <td><a href={{ url_for('manage_users', mode='REMOVE')}}>Remove</a></td>
            </tr>
            <tr>
                <td><strong>Mail servers</strong></td>
                <td><a href={{ url_for('manage_mail_servers', mode='ADD')}}>Add</a></td>
                <td></td>
                <td><a href={{ url_for('manage_mail_servers', mode='REMOVE')}}>Remove</a></td>
            </tr>

        </table>
    </div>
</div>

{% endblock %}
