{% extends 'menu.html' %}
{% block title %}Environments Management{% endblock %}
{% block css %}{{ url_for('static', filename='css/environments.css') }}{% endblock %}
{% block content %}

{% if mode == 'MODIFY' %}
<form action="{{ url_for('manage_environments', mode='MODIFY') }}" method="post">
  <div class="row">
    <div class="large-12 columns">
      <fieldset>
	<legend>Modify Environment</legend>

	<div class="row">
	  <div class="large-12 columns">
	    <label for="inv">Environment to be modified :</label>
	      <select name="inv" id="inv">
		{% for inv in environments %}
		<option value={{ inv.nudoss }}>{{ inv.userName }} - {{ inv.hostname }}</option>
		{% endfor %}
	      </select>
	  </div>
	</div>

	<div class="row">
	  <div class="large-8 columns">
	    <label>Hostname :
	      <input type="text" name="hostname" id="hostname" placeholder="ex. int.searh.acnhcms.net" required />
	    </label>
	  </div>
	  <div class="large-4 columns">
	    <label>Environment group :
	      <input type="text" name="envGroup" id="envGroup" placeholder="ex. INT" required />
	    </label>
	  </div>
	</div>

	<div class="row">
	  <div class="large-4 columns">
	    <label>Instance :
	      <input type="text" name="envName" id="envName" placeholder="ex. i1" />
	    </label>
	  </div>

	  <div class="large-4 columns">
	    <label>Application ID :
	      <input type="text" name="applName" id="applName" placeholder="ex. liv000" required />
	    </label>
	  </div>

	  <div class="large-4 columns">
	    <label>Component :
	      <input type="text" name="component" id="component" placeholder="ex. LIV" required />
	    </label>
	  </div>
	</div>

	<div class="row">
	  <div class="large-8 columns">
	    <label>Username :
	      <input type="text" name="userName" id="userName" placeholder="ex. i1liv000" required />
	    </label>
	  </div>
	  <div class="large-4 columns">
	    <label>UserGroup :
	      <input type="text" name="userGroup" id="userGroup" placeholder="ex. liv" required />
	    </label>
	  </div>
	</div>

	<div class="row">
	  <div class="large-3 large-offset-9 columns">
	    <input type="submit" value="Update Environment" class="button">
	  </div>
	</div>

      </fieldset>
    </div>
  </div>
</form>
{% endif %}

{% if mode == 'ADD' %}
<form action="{{ url_for('manage_environments', mode='ADD') }}" method="post">
  <div class="row">
    <div class="large-12 columns">
      <fieldset>
	<legend>Add Environment</legend>

	<div class="row">
	  <div class="large-8 columns">
	    <label>Hostname :
	      <input type="text" name="hostname" id="hostname" placeholder="ex. int.searh.acnhcms.net" required />
	    </label>
	  </div>
	  <div class="large-4 columns">
	    <label>Environment group :
	      <input type="text" name="envGroup" id="envGroup" placeholder="ex. INT" required />
	    </label>
	  </div>
	</div>

	<div class="row">
	  <div class="large-4 columns">
	    <label>Instance :
	      <input type="text" name="envName" id="envName" placeholder="ex. i1" />
	    </label>
	  </div>

	  <div class="large-4 columns">
	    <label>Application ID :
	      <input type="text" name="applName" id="applName" placeholder="ex. liv000" required />
	    </label>
	  </div>

	  <div class="large-4 columns">
	    <label>Component :
	      <input type="text" name="component" id="component" placeholder="ex. LIV" required />
	    </label>
	  </div>
	</div>

	<div class="row">
	  <div class="large-8 columns">
	    <label>Username :
	      <input type="text" name="userName" id="userName" placeholder="ex. i1liv000" required />
	    </label>
	  </div>
	  <div class="large-4 columns">
	    <label>User group :
	      <input type="text" name="userGroup" id="userGroup" placeholder="ex. liv" required />
	    </label>
	  </div>
	</div>

	<div class="row">
	  <div class="large-3 large-offset-9 columns">
	    <input type="submit" value="Add Environment" class="button">
	  </div>
	</div>

      </fieldset>
    </div>
  </div>
</form>
{% endif %}

{% if mode == 'REMOVE' %}
<form action="{{ url_for('manage_environments', mode='REMOVE') }}" method="post">
  <div class="row">
    <div class="large-12 columns">
      <fieldset>
	<legend>Remove Environment</legend>

	<div class="row">
	  <div class="large-12 columns">
	    <label for="inv">Environment to be removed :</label>
	      <select name="inv" id="inv">
		{% for inv in environments %}
		<option value={{ inv.nudoss }}>{{ inv.userName }} - {{ inv.hostname }}</option>
		{% endfor %}
	      </select>
	  </div>
	</div>

	<div class="row">
	  <div class="large-12 columns">
	    <input type="submit" value="Remove Environment" class="button expand">
	  </div>
	</div>

      </fieldset>
    </div>
  </div>
</form>
{% endif %}

{% endblock %}
