{% extends 'layout.html' %}
{% block title %}Login{% endblock %}
{% block css %}{{ url_for('static', filename='css/login.css') }}{% endblock %}
{% block content %}

<form action="{{ url_for('login') }}" method="post">
  <div class="row">
    <div class="large-8 columns">
      <fieldset>
	<legend>Login</legend>

	<div class="row">
	  <div class="small-8 small-centered columns">
	    <input type="text" name="pseudo" placeholder="pseudo" required>
	  </div>
	</div>

	<div class="row">
	  <div class="small-8 small-centered columns">
	    <input type="password" name="password" placeholder="password" required>
	  </div>
	</div>

	<div class="row">
	  <div class="small-8 small-centered columns">
	    <input type="submit" value="Submit" class="button expand">
	  </div>
	</div>

      </fieldset>
    </div>
  </div>
</form>

{% endblock %}
