.toggle-menu {
  position: relative;
  font-size: 4rem;
  z-index: 5000;
  color: #333;
  top: -0.5rem;
  left: 1.5rem;
  transition: all 0.4s ease-in-out; }
  .toggle-menu:hover {
    transition: all 0.4s ease-in-out;
    color: gray; }

