<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Account validation for {{ config['APP_NAME'] }}</title>
  </head>
  <body>
    <h3>Welcome!</h3>
    <p>This validation step is necessary to reduce the ammount of fake and automatic registrations. After the validation step you will be able to access the website. Thank you for registering.</p>
    <p>Your validation token is : {{ validation_token }}</p>
    <p>Please input it on the validation form showed when logging. You can access the form directly by following this link : link.</p>
  </body>
</html>
