{% extends 'menu.html' %}
{% block title %}Registration validation{% endblock %}
{% block css %}{{ url_for('static', filename='css/validate.css') }}{% endblock %}
{% block content %}

<p><br /></p>
<div class="row">
  <div class="large-12 columns">
    <form action="{{ url_for('validate', mode='VALID', pseudo_id=pseudo_id) }}" method="post">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
      <div class="row">
	<div class="small-8 columns">
	  <input type="text" name="token_entry" id="token_entry" placeholder="Please input validation token here." required />
	</div>
	<div class="small-4 columns">
          <input type="submit" value="Register me!" class="button postfix" />
	</div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <form action="{{ url_for('validate', mode='REGEN', pseudo_id=pseudo_id) }}" method="post">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
      <input type="submit" value="Send new token" class="button prefix" />
    </form>
  </div>
</div>

{% endblock %}
